.container-fluid{
  padding: 0;
  margin: 0;
  border: 0;
}
nav{

  padding: 20px;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: rgba(248,248,255,0.8);



}
nav a{
  padding: inherit;
  color: rgba(0,0,0,0.5);
  font-weight:bold;

}
nav a:hover{
  text-decoration: none;
  color: #849;
}
#left{
  width: 60px;
  height: 60px;

}
.nav-left{

}
#container{
  position: relative;
  top: 100px;
}
.jumbotron{
  background-image: url(../img/js1.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size:  cover;
  color: white;

}
.man{
width: 50%;
background: rgba(0,0,0,0.1);
height: 100%;


}
#register{
  display: none;
  border: 1px solid #5413;

}
#body{
  display: none;
  border: 1px solid #5413;
  background-color: #DDDDFF;

}
#name{
  text-transform: capitalize;
  font-family: "Roboto",Courier;
  font-weight: bold;
}
#name1{
  text-transform: capitalize;
  font-family: "Roboto",Courier;
  font-weight: bold;
}
.font{
  font-weight: bold;;
}
.re{
  display: none;
}
.score{
  background-color: blue;
  color: white;
  position: relative;
  padding: 15px;
  text-align: center;
  font-size: 20px;

}
#scores{
  display: none;

}
#scores h1{
  text-align: center;
  width: auto;
  font-family: fantasy;
  font-weight: bold;
  font-size: 25px;
}
.decription p{
  margin-left: 5px;
  font-size: 22px;
  font-family: sans-serif;

}
#score{
  display: none;
  padding: 10px;
}
#score h1,p,span{
  margin: 5px;
}
.score{
  position: relative;
}
#footer{
  position: relative;
  top: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
pre{
  background-color: #784;
  color: white;
  overflow: auto;
  width: auto;

}
#score{
  background-color: #5461;
}
.list-group{
  width: 50%;
}
#card{
  float: left;
  box-shadow: -3px 3px 3px 5px black;
  margin: 4px;
}
.col-md-8{
  background-color: #F0F8FF;
}
#showmem{
  display: none;
  border: 1px solid #5413;
  background-color: #DDDDFF;
}
.progress{
  height: 30px;
  font-size: 18px;
  font-weight: bold;
}
#card-two{
  width: 35px;
  height: 35px;
  padding: 2px;
  margin: 5px;

}
.flex{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.loading{
  width: 50px;
  height: 50px;
  background-color: blue;
}
